@CHARSET "ISO-8859-1";

 
 	       .container
        {
            width: 960px;
            margin: 0 auto;
        }

        .separador
        {
            height: 20px;
        }

        /*********** HEADER ***********/
        #header #logo-gobernacion
        {
            margin-right: 10px;
            margin-top: 30px;
        }
        #header #logo-gobernacion img
        {
            height: 80px;
        }

        #header #ama-vida
        {
            margin-left:160px;
            margin-top:40px;
            width:168px;
        }

        #header #header-top
        {
            margin-bottom:30px;
            height:104px;
            z-index:5;
        }
        #header #header-bot
        {
            position:relative; z-index:5;

        }

        #header .ecuador-iso
        {
            background:url('/Images/ama-vida-iso.png') no-repeat;
            height:304px;
            width:304px;
            position:absolute;
            margin-left:-150px;
            z-index:-1;
        }

        /*********** MENU ***********/
        #header .top-bar
        {
            background:#0f6cb6;
            height:34px;
            margin-bottom:15px;
        }

        #header .top-bar-section ul
        {
            background:none;
            overflow:hidden;
            margin:0 auto;
        }

        #header .top-bar-section ul li
        {
            margin-top: -5px;
            display:block;
            position:relative;
        }

        #header .top-bar-section ul li:first-child
        {
            margin-left:20px;
        }

        #header .top-bar-section li a
        {
            padding:13px 14px 5px 14px;
            height: 45px;
            font-weight:normal !important;
            display: block !important;
        }

        #header .top-bar-section li.active a, #header .top-bar-section li a:hover
        {
            background: rgba(29, 16, 96, 0.8);
        }

        #header ul.sub-menu
        {
            background: rgba(29, 16, 96, 0.9);
        }

        #header .top-bar-section ul.sub-menu
        {
            margin-top:-6px;
            border:1px solid rgba(255, 255, 255, 0.6);
            border-top:none;
        }

        #header .top-bar-section ul.sub-menu li
        {
            margin-top: 0 !important;
            margin-left:0;
        }

        #header .top-bar-section ul.sub-menu li a
        {
            padding:10px 15px;
        }

        #header .top-bar-section ul.sub-menu li.has-sub-menu
        {
            margin-top:0;
        }

        #header .top-bar-section ul.sub-menu li label
        {
            background:#f58026;
            margin-bottom:5px;
            color:#FFF;
        }

        #header #header-bot
        {
            height:370px;
            z-index:2;
        }

        /*********** SUBMENU ***********/
        /*** HOME ***/
        #submenu
        {
            background:#0f6cb6;
            width:280px;
            float:left;
            margin-right:15px;
            height:370px;
        }

        #submenu ul
        {
            list-style:none;
            padding-top:12px;
        }

        #submenu li
        {
            margin:0 20px;
            padding:0;
            overflow:hidden;
        }

        #submenu li:last-child a
        {
            border-bottom:none !important;
        }

        #submenu li:hover
        {
            margin:0;
        }

        #header #submenu li a
        {
            height:35px;
        }

        #submenu li a
        {
            color:#FFF;
            font-size:13px;
            padding:8px 0 5px 0;
            display:block;
            border-bottom:1px solid #4387bd;
        }

        #header #submenu li:hover
        {
            margin-top:-1px;
        }

        #header #submenu li a:hover
        {
            height:36px;
            padding-top:9px;
        }

        #submenu li a:hover
        {
            background: #192b7a;
            padding-left:20px;
        }

        #slides
        {
            width:665px;
            float:left;
            height:370px;
        }

        /*** Master ***/ 
        #master #content #submenu
        {
            height:500px;
            margin:0;
            margin-bottom:30px;
            float:none;
        }

        #master #content #submenu ul
        {
            padding-top:0;
        }
        #master #content #submenu li
        {
            margin:0;
        }
        
        #master #content #submenu li ul
        {
            padding-top:0;
            font-size:12px;
            margin-left:0;
        }

        #master #content #submenu li a
        {
            border-top:1px solid rgba(255, 255, 255, 0.6);
            padding-left:20px;
        }

        #master #content #submenu li:first-child a
        {
            border-top:none;
        }
        
        #master #content #submenu li:last-child a
        {
            border-bottom:none;
        }

        #master #submenu ul ul a
        {
            border:none !important;
            margin:0 !important;
            padding:0;
            padding-left:30px !important;
        }

        /************** GENERAL RULES **************/

        *, *:before, *:after
        {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        /* Typography resets */
        div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td
        {
            margin: 0;
            padding: 0;
            direction: ltr;
        }

        /* Default Link Styles */
        a
        {
            color: #484848;
            text-decoration: none;
            line-height: inherit;
        }

        a:hover, a:focus
        {
            color: #111;
        }

        a img
        {
            border: none;
        }

        a:focus
        {
            outline: none;
        }

        /* Default paragraph styles */
        p
        {
            font-family: inherit;
            font-weight: normal;
            font-size: 13px;
            line-height: 1.6;
            margin-bottom: 1.2em;
            text-rendering: optimizeLegibility; 
            text-align:justify;
        }
        
        p aside
        {
        font-size: 0.875em;
        line-height: 1.35;
        font-style: italic;
        }

        .left
        {
            float: left !important;
        }

        .right
        {
            float: right !important;
        }

        /* Lists */
        ul, ol, dl
        {
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 20px;
            list-style-position: outside;
            font-family: inherit;
        }

        .top-bar-section ul
        {
            width: 100%;
            height: auto;
            display: block;
            font-size: 16px;
            margin: 0;
        }
 
        .top-bar-section ul li > a
        {
            display: block;
            width: 100%;
            color: white;
            padding: 12px 0 12px 0;
            padding-left: 15px;
            font-size: 0.8125em;
            font-weight: bold;
        }

        .top-bar-section .has-sub-menu > a:after
        {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: solid 5px;
            border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
            margin-right: 15px;
            margin-top: -4.5px;
            position: absolute;
            top: 50%;
            right: 0;
        }

        .top-bar-section .sub-menu
        {
            position: absolute;
            left: 100%;
            top: 0;
            visibility: hidden;
            z-index: 99;
        }

        .top-bar-section .sub-menu li
        {
            width: 100%;
        }

        .top-bar-section ul
        {
            width: auto;
            height: auto !important;
            display: inline;
        }

        .top-bar-section ul li
        {
            float: left;
        }

        .top-bar-section .has-sub-menu > a
        {
            padding-right: 35px !important;
        }

        .top-bar-section .has-sub-menu:hover > .sub-menu, .top-bar-section .has-sub-menu:active > .sub-menu
        {
            visibility: visible;
        }

        .top-bar-section .sub-menu
        {
            left: 0;
            top: auto;
            min-width: 100%;
        }

        .top-bar-section .sub-menu li a
        {
            color: white;
            line-height: 1;
            white-space: nowrap;
            padding: 7px 15px;
        }

        /*********** BARRA ***********/
        .barra_1
        {
            height: 30px;
            width: 760px;
            background: #f0f0f0;
        }

        .barra_1_2
        {
            float: left;
            height: 30px;
            width: 200px;
        }

        .barra_2
        {
            padding-left: 20px;
            background: #f0f0f0;
        }

        .barra_color
        {
            background: #ee2375;
            padding-left: 20px;
            min-height: 40px;
        }

        .barra_3
        {
            width: 760px;
            background: #f0f0f0;
            min-height: 15px;
        }

        .menu_usuario_contenedor
        {
            float: right;
            height: 30px;
            width: 150px;
            margin-top: 5px;
            margin-right: 5px;
            /*background: #F05493;*/
        }

        #menu_usuario
        {
            list-style-type: none;
            padding: 0;
        }

        #menu_usuario li
        {
            display: block;
            float: left;
            height: 30px;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }

        #menu_usuario ul
        {
            border-radius: 0 0 5px 5px;
            left: 0;
            margin: 0;
            opacity: 0; /* no son visibles */
            position: absolute;
            top: 30px; /* se ubican debajo del enlace principal */
        }

        #menu_usuario ul li
        {
            width: 150px;
            background: #ee2375;
            text-align: center;
        }

        #menu_usuario li:hover > ul
        {
            opacity: 1;
        }

        /*********** CUERPO ***********/
        #cuerpo
        {
            min-height: 250px;
            background: white;
        }

        .margen
        {
            width: 920px;
            margin: auto;
        }

        .titulo
        {
            font-family: "Arial", "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
            font-weight: bold;
            font-style: normal;
            color: #222222;
            text-rendering: optimizeLegibility;
            margin-bottom: 0.5em;
            line-height: 1.2125em;
            display: inline-block;
            color: #FFF;
            font-size: 18px;
            padding-top: 11px;
            width: 75%;
            float: left;
        }

        /*********** FOOTER ***********/
        footer
        {
            background: url('/Images/gobierno-sep.jpg') top center no-repeat;
            padding-top:65px;
        }

        #footer-bot
        {
            background:#f3eded;
            padding:12px 20px 10px 20px;
            height:90px;
            overflow:hidden;
        }

        .block
        {
            width:33%;
            float:left;
        }

        .last
        {
            float:right;
        }

        .last p
        {
            text-align:right !important;
            margin-bottom:0;
            font-size:12px !important;
        }
  