@CHARSET "ISO-8859-1";

.menu-head-color
{
	color: #ffffff;
	
}
.menu-head
{
	background-color: #b1b429;
	
}
.menu-head:hover
{
	background-color: #fd9848;
	
}
.servicios_titulo {
    
    color: #046497; 
    font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 19.8px;
	text-align: center;
} 

.servicios_titulo:hover {
    
    color: #d56e09; 
    font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 19.8px;
	text-align: center;
} 

.centrado {
    
	text-align: center;
} 
.justificado_blanco {
    
	text-align: justify;
	color: #ffffff; 
} 
.titulo-central{
	color: #4a9022;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	text-align: center;
    
}
.subtitulo-central{
	color: #e57b0d;
	
}

.formulario-titulo
{
	color: #063853;
	text-shadow: 0 1px black;
	
}
.formulario-subtitulo
{
	
	color: #456789;
	
}

.before-footer
{
	background-color: #fbfefa;
	
}
.before-footer:hover
{
	background-color: #f18d13;
	color: #fffdfb;
}
.before-footer-titulo
{
	background-color: #116898;
	color: #ffffff; 
    font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 19.8px;
	text-align: center;
	
}
.before-footer-titulo:hover
{
	color: #fffdfb; 
    font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 19.8px;
	text-align: center;
	
}

.errores{
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius:10px;
    -webkit-border-radius: 10px;
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: none;
    font-size: 12px;
    margin-top: -40px;
    margin-left: 150px;
    padding: 10px;
    position: absolute;
     z-index: 1;
}
.errores:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
    
}

